@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Helvetica", sans-serif;
  overflow: "hidden";
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .layout {
    @apply h-dvh w-screen overflow-hidden bg-slate-900 text-white;
  }
}
